.hidden-image {
  opacity: 0;
  transform: scale(0);
}

.active {
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hidden-text {
  opacity: 0;
  transform: scale(0) translateX(-50px);
}

.show-text {
  opacity: 0;
  transform: translateX(-50px);
  animation: slideText 1s 0.8s linear forwards;
}

@keyframes slideText {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.splide {
  width: 100%;
}

.splide__arrow.custom-arrow {
  border-radius: initial;
  background: rgba(252, 252, 252, 0.4);
}

.splide__arrow.custom-arrow > svg {
  fill: #555555;
}

.splide__pagination__page.cutsom-button {
  width: 20px;
  height: 3px;
  border-radius: initial;
  background: #5e5e5e;
}

.splide__pagination__page.cutsom-button.is-active {
  background: #1565c0;
  transform: scale(1.2);
}
